<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Comic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53C80A6C1C90241B0027AFDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53C80A881C90241B0027AFDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53C80A931C90241B0027AFDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
